<div class="container">
    <form class="form-auth" ng-submit="AuthCtrl.signUp()">
      <h2 class="form-auth-heading text-center">First time on Flamber? Register now!</h2>
      <label for="e-mail" class="sr-only">E-mail</label>
      <input type="text" id="e-mail" class="form-control" ng-model="AuthCtrl.email" placeholder="E-mail" required autofocus>
      <label for="username" class="sr-only">Username</label>
      <input type="text" id="username" class="form-control" ng-model="AuthCtrl.username" placeholder="Username" required>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" class="form-control" ng-model="AuthCtrl.password" placeholder="Password" required>
      <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
    </form>
  </div>