.global-nav {
    background-color: #000;
    color: #fff;
}

.nav {
    li {
        a {
            color: #fff !important;

            &:hover {
                color: #fa9200 !important;
            }
        }
    }
}

.flamber-logo {
    width: 18px;
    margin-top: -5px;
}