.global-nav {
    background-color: #000;
    color: #fff;
}

.navbar {
    border-bottom: 2px solid #21aeec;
}

.nav {
    li {
        a {
            color: #21aeec !important;

            &:hover {
                color: #fff !important;
            }
        }
    }
}

.flamber-logo {
    width: 18px;
    margin-top: -5px;
}