<form {{action 'postFlame' on='submit'}}>
    <label for="flame">Text</label>
    {{input id='flame' type='text' value=flame class='form-control'}}
    <button type="submit" class="btn btn-success form-control">Submit</button>
</form>

{{yield}}
