<html>
  <head>
    <title>angular-router-ts-gulp</title>

    <link rel="stylesheet" href="../../bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="../static/release/app.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../../bower_components/angular-material/angular-material.js"></script>
    
    <script src="../static/release/app.js"></script>
  </head>
  
  <body>
    <div ui-view></div>
  </body>
</html>